<!DOCTYPE html>
<meta charset="utf-8">

<html>
<link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
   <head>
      <title>Matrix for single restaurant</title>
	  <link rel = "stylesheet"
		type = "text/css"
		href = "{{ url_for('static', filename='stylesheets/index.css') }}" />
	   <h2>Review count and word cloud for</h2>
       <h2 id="nameR">Oops! There is no such restaurant!</h2>
	   <h3>Click or hover on an item to see details.</h3>
   </head>
   
   <body>
	<div style="text-align:center;">
		<select id="selectCloud" class="buttonS"></select>
	</div>
   </body>
   
</html>
    
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- Create a div where the graph will take place -->
<div style="text-align:center;" id="my_dataviz"></div>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

<!-- Load d3-cloud -->
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>

<!-- Load ajax -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<svg width="0" height="0"></svg>

<body>	
	<div style="text-align:center;">
		<input type="search" id="searchInput" placeholder="Type a search word" class="buttonS">
		<button onclick="reviewSamples()" id="showReviewsB" class="buttonS">Show Reviews Sample</button>
		<select id="selectRS" class="buttonS">  
				<option value="">All Stars</option>
				<option value="1">1 Stars</option>
				<option value="2">2 Stars</option>
				<option value="3">3 Stars</option>
				<option value="4">4 Stars</option>
				<option value="5">5 Stars</option>
			</select>
	</div>
	<br>
	<h4 id="reviews"></h4>
</body>

<script>   

var newName = decodeURI(window.location.search.substring(1)).split("__split__")

document.getElementById("nameR").innerHTML = newName[0] + " for year " + newName[1];

var yearLow = timeParse(newName[1])[0]
var yearUp = timeParse(newName[1])[1]
newName = newName[0]
    
	
    // set the dimensions and margins of the graph
var margin = {top: 15, right: 30, bottom: 30, left: 40},
    width = 145 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;    
    
//Time parse
var parseDate = d3.timeParse("%Y-%m-%d");

// append the svg object to the body of the page
var svg = d3.select("#my_dataviz")
  .append("svg")
    
// Read the data and compute summary statistics for each specie
var allData;

postFilter(newName, yearLow, yearUp)

function timeParse(d){

	var dateParser = d3.timeParse("%Y");
		
	var date = new Date(dateParser(d)), y = date.getFullYear();//, m = date.getMonth();
	var firstDay = new Date(y, 0);
	var lastDay = new Date(y, 12, 0);
	
	firstDay = firstDay.getFullYear() + "-" + parseInt(firstDay.getMonth()+1) + "-" + firstDay.getDate();
	lastDay = lastDay.getFullYear() + "-" + parseInt(lastDay.getMonth()+1) + "-" + lastDay.getDate();

	return [firstDay, lastDay]
}

function matrixM(allData){ 
	  
  var largestQuadrant = 2; //This is for the colour domain
	  
  //var data = filtering(allData);
  var data = allData;
    
  data.sort(function (a, b) {
    return new Date(a.date) - new Date(b.date);      
  });
        
  // Compute just the lower scale values
  var sumstat = d3.nest()  // nest function allows to group the calculation per level of a factor
    .key(function(d) { 
         var dateObject = new Date(parseDate(d.date))
         return  dateObject.getFullYear()+"-"+parseInt(dateObject.getMonth()+1);}) 	
    .entries(data)
  
 var svg = d3.select("#my_dataviz")
  .select("svg")
    .attr("width", (width-10)*sumstat.map((d) => d.key).length + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");
  
  // Show the X scale
  var x = d3.scaleBand()
    .range([ 0, (width-20)*sumstat.map((d) => d.key).length ])
    .domain(sumstat.map((d) => d.key))
    .padding(0.01);
  svg.append("g")
    .attr("class", "axis axis--x")
    .data(sumstat)
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x))
    .attr("font-size", "8px")
    .selectAll("text")
      .attr("transform", "translate(-10,0)rotate(-30)")
	  .style("font-family", "PlovdivSans")
      .style("text-anchor", "end");
    
  // Show the Y scale
  var y = d3.scaleBand()
    .domain([1,2,3,4,5])
    .range([height, 0])
	.padding(0.01);
  svg.append("g")
	.attr("class", "axis axis--y")
	.style("font-family", "PlovdivSans")
    .call(d3.axisLeft(y))	
	  
	  // Compute just the lower scale values
  var sumstat2 = d3.nest()  // nest function allows to group the calculation per level of a factor
    .key(function(d) { 
         var dateObject = new Date(parseDate(d.date))
		 var star = d.stars
         return  dateObject.getFullYear()+"-"+parseInt(dateObject.getMonth()+1) +"_"+ star;}) 
	.rollup(function(d) {   // For each key..
		 amount = d.map(function(g) { return g.stars;}).length
		 var datichka = new Date(parseDate(d.map(function(g) { return g.date;})[0]))
		 date = datichka.getFullYear() +"-"+parseInt(datichka.getMonth()+1);
		 star = d.map(function(g) { return g.stars;})[0]
		 if (largestQuadrant<amount){		//This is for assigning the colour domain	 
		 largestQuadrant = amount
		 }
         return({amount:amount,date:date,star:star})
    })
    .entries(data)
	  
	// Build color scale
	var myColor = d3.scaleLinear()
	  .range(['#fef0d9','#fdcc8a','#fc8d59','#d7301f'])
	  .domain([1,largestQuadrant*0.33,largestQuadrant*0.67,largestQuadrant])
	
// ----------------
  // Create a tooltip
  // ----------------
  var tooltip = d3.select("#my_dataviz")
    .append("div")
    .style("opacity", 0)
    .attr("class", "tooltip")

  // Four functions that change the tooltip when user hover / move / leave / click a cell
  var mouseover = function(d) {
    tooltip
		.style("opacity", 1)
    d3.select(this)
      .style("stroke", "black")
      .style("opacity", 1)
	  .style("cursor", "pointer")
	
  }
  
  var mousemove = function(d) {
	var value = d.value.amount
	tooltip
        .html("The amount of reviews is: " + value)
      .style("left", (d3.mouse(this)[0]+100) + "px")
      .style("top", (d3.mouse(this)[1]+120) + "px")		
  }
  
  var mouseleave = function(d) {
    tooltip
      .style("opacity", 0)
    d3.select(this)
      .style("stroke", "none")
	  .style("border", "solid")
      .style("border-width", "2px")
      .style("border-radius", "5px")
      .style("padding", "5px")
  }
	  
  var mouseclick = async function(d, xy, mo) {
	  
	mo.style("cursor", "progress")
		
	var mouseX = xy[0] -70//- 150
	var mouseY = xy[1] -100//- 80
	
	var parseDate = d3.timeParse("%Y-%m");
	
	var date = new Date(parseDate(d.value.date)), y = date.getFullYear(), m = date.getMonth();
	var firstDay = new Date(y, m, 1);
	var lastDay = new Date(y, m+1, 0);
	
	firstDay = firstDay.getFullYear() + "-" + parseInt(firstDay.getMonth()+1) + "-" + firstDay.getDate();
	lastDay = lastDay.getFullYear() + "-" + parseInt(lastDay.getMonth()+1) + "-" + lastDay.getDate();
	
	var something = await postTopWords(newName, d.value.star, firstDay, lastDay)
			
	tooltipWords(something, mouseX, mouseY)

	mo.style("cursor", "default")	
  }  
  
  var mouseDBLclick = async function(d) {
	  
	d3.select(this)
		.style("cursor", "progress")
  
	var mouseX = d3.mouse(this)[0]+100
	var mouseY = d3.mouse(this)[1]+120
	
	var parseDate = d3.timeParse("%Y-%m");
	
	var date = new Date(parseDate(d.value.date)), y = date.getFullYear(), m = date.getMonth();
	var firstDay = new Date(y, m, 1);
	var lastDay = new Date(y, m+1, 0);
	
	firstDay = firstDay.getFullYear() + "-" + parseInt(firstDay.getMonth()+1) + "-" + firstDay.getDate();
	lastDay = lastDay.getFullYear() + "-" + parseInt(lastDay.getMonth()+1) + "-" + lastDay.getDate();
	
	var something = await postTF_IDF(newName, d.value.star, firstDay, lastDay, "MonthPlus")
			
	tooltipWords(something, mouseX, mouseY)
	
	d3.select(this)
		.style("cursor", "default")	
  }
  
  function tooltipWords(item, mouseX, mouseY){		
		tooltip
			.html(item)
			.style("left", mouseX + "px")
			.style("top", mouseY + "px")	
			.style("opacity", 1)
	}
	
	// Three functions that change the item when user hover / move / leave / click axis elemnt
  var mouseoverX = function(d) {
    d3.select(this)
		.style("stroke", "red")	
		.style("cursor", "default") 
  }
  
  var mouseleaveX = function(d) {
    tooltip
      .style("opacity", 0)
	d3.select(this)
      .style("stroke", "none")
  }
  
  var mouseclickX = async function(d) {
	  
	d3.select(this)
		.style("cursor", "progress") 
		
	var mouseX = d3.event.pageX - 70//- 150
	var mouseY = d3.event.pageY - 120//- 80
		
	var parseDate = d3.timeParse("%Y-%m");
		
	var date = new Date(parseDate(d)), y = date.getFullYear(), m = date.getMonth();
	var firstDay = new Date(y, m, 1);
	var lastDay = new Date(y, m+1, 0);
		
	firstDay = firstDay.getFullYear() + "-" + parseInt(firstDay.getMonth()+1) + "-" + firstDay.getDate();
	lastDay = lastDay.getFullYear() + "-" + parseInt(lastDay.getMonth()+1) + "-" + lastDay.getDate();

	var something = await postTF_IDF(newName, "", firstDay, lastDay, "Month")
		
	tooltipWords(something, mouseX, mouseY)
	
	d3.select(this)
		.style("cursor", "default") 	
  }
  	
  // Three function that change the item when user hover / move / leave / click axis elemnt
  var mouseoverY = function(d) {
    d3.select(this)
		.style("cursor", "default")
		.style("stroke", "red")	
  }
  
  var mouseleaveY = function(d) {
    tooltip
      .style("opacity", 0)
	d3.select(this)
      .style("stroke", "none")
  }
  
  var mouseclickY = async function(d) {
	  
	d3.select(this)
		.style("cursor", "progress")
	  
	var mouseX = d3.event.pageX + 10//- 150
	var mouseY = d3.event.pageY - 110//- 80
		
	var something = await postTF_IDF(newName, d, yearLow, yearUp, "Rating")
		
	tooltipWords(something, mouseX, mouseY)
	
	d3.select(this)
		.style("cursor", "default")	
  }
	
  var cc = clickcancel();
	
  svg.selectAll()
  .data(sumstat2, function(d) {return d.key;})
  .enter()
  .append("rect") 
	.attr("x", function(d) { return x(d.value.date) })
	.attr("y", function(d) { return y(d.value.star) })
	.attr("width", x.bandwidth() )
	.attr("height", y.bandwidth() )
	.style("fill", function(d) { return myColor(d.value.amount)} )
	.on("mouseover", mouseover)
    .on("mousemove", mousemove)
    .on("mouseleave", mouseleave)
	.call(cc)
		cc.on("click", mouseclick)
		cc.on("dblclick", mouseDBLclick)
		
	d3.select('.axis.axis--x').selectAll('.tick')		
		.on("mouseover", mouseoverX)
		.on("mouseleave", mouseleaveX)
		.on('click', mouseclickX)
		
	d3.select('.axis.axis--y').selectAll('.tick')		
		.on("mouseover", mouseoverY)
		.on("mouseleave", mouseleaveY)
		.on('click', mouseclickY)  
}
 
function wordCloud(data){
			
	// set the dimensions and margins of the graph
	var margin = {top: 10, right: 5, bottom: 10, left: 5},
		width = 600 - margin.left - margin.right,
		height = 300 - margin.top - margin.bottom;
	
	var svg = d3.select("#my_dataviz").append("svg")
      .attr("width", width)
      .attr("height", height)
      .append("g")
      .attr("transform", "translate(" + (width / 2) + "," + (height / 2) + ")")
			
      var dropDown = d3.select("#selectCloud")
	  
	  var foodVenues = []
	  
		for (i = 0; i < Object.keys(data[0]).length; i=i+2){
			foodVenues.push(Object.keys(data[0])[i] + "_-_" + Object.keys(data[0])[i + 1])
		}
	
	  document.getElementById("selectCloud").options.length = 0

      var options = dropDown.selectAll("option")
        .data(foodVenues)
        .enter()
        .append("option")
        .text(function(d) {var n = d.split(" ")
            return n[n.length - 1];
          })
        .attr("value", function(d) {
          return d;
        })
		
	  document.getElementById('selectCloud').style.display = 'inline-block';
		
      dropDown.on("change", update);

      function update() {
		var spliter =  this.value.split("_-_")
        var filteredData = sortObject(data, spliter[0], spliter[1]);
	  	  
        d3.layout.cloud()
          .size([width, height])
          .words(filteredData)
          .rotate(0)
          .text(function(d) {
            return d.label;
          })
          .font("Impact")
          .fontSize(function(d) { 
			return d.value
          })
          .on("end", draw)
          .start();
      }

	  function sortObject(obj, name, count) {
        var newValue = [];
		var label = name || "Words: Overall";
		var value = count || "Count: Overall";
		
		var smallSize = data.map(function(d) { return d[value]; })[data.map(function(d) { return d[value]; }).length-1]
		var bigSize = data.map(function(d) { return d[value]; })[0]
		
		newValue = data.map(function(d) { return {label: d[label], value: convertRange( d[value], [ smallSize, bigSize ], [ 10, 35 ] )}; })
				
        return newValue;
      }
	  
      var newValue = sortObject();

      d3.layout.cloud()
	    .size([width, height])
        .words(newValue)
        .rotate(0)
        .text(function(d) {
          return d.label;
        })
        .font("Impact")
        .fontSize(function(d) { 
          return d.value;
        })
        .on("end", draw)
        .start();

      function draw(words) {		  
		  		  				  
        var selectVis = svg.selectAll("text")
          .data(words, (function(d) {
            return d.label;
          }), (function(d) {
            return d.value;
          }))
		  .style("font-size",function(d) {
            return d.value
          });

		var res = data.map(function(d, i){ return i }) // list of words ids
		var fill = d3.scaleOrdinal()
		  .domain(res)
		  .range(['#a6cee3','#1f78b4','#b2df8a','#33a02c','#fb9a99','#e31a1c','#fdbf6f','#ff7f00','#cab2d6','#6a3d9a','#ffff99','#b15928']);


        selectVis
          .enter()
		  .append("text")
          .style("font-size", function(d) { 
            return d.value
          })
          .style("font-family", "PlovdivSans")
          .style("fill", function(d, i){ return fill(i) })
          .attr("text-anchor", "middle")
          .attr("transform", function(d) {
            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
          })
          .text(function(d) {
            return d.label;
          })

        selectVis
          .transition()
          .duration(700)
          .style("font-size", function(d) { 
            return d.value
          })
          .attr("transform", function(d) {
            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
          })
          .style("fill-opacity", 1);

        selectVis
		  .exit()
          .transition()
          .duration(300)
          .style('fill-opacity', 1e-6)
          .attr('font-size', 1)
          .remove();
      }
}

function convertRange( value, r1, r2 ) { 
    return ( value - r1[ 0 ] ) * ( r2[ 1 ] - r2[ 0 ] ) / ( r1[ 1 ] - r1[ 0 ] ) + r2[ 0 ];
}

function postTopWords(newName, rating, dateLow, dateUp){

var t0 = performance.now();
console.log("Post to Ajax started at " + t0);

return $.post("http://localhost:5000/topWords",
  {
    newName: newName,
    rating: rating,
	dateLow: dateLow,
	dateUp: dateUp,
  },
  function(data){
	var t1 = performance.now();
	console.log("Post to Ajax took " + ((t1 - t0)/(1000)) + " seconds.");
	
  });			
}

function postTF_IDF(newName, rating, dateLow, dateUp, granulation){

var t0 = performance.now();
console.log("Post to Ajax started at " + t0);

return $.post("http://localhost:5000/tf_idf",
  {
    newName: newName,
    rating: rating,
	dateLow: dateLow,
	dateUp: dateUp,
	granulation: granulation
  },
  function(data){
	var t1 = performance.now();
	console.log("Post to Ajax took " + ((t1 - t0)/(1000)) + " seconds.");
	
  });			
}

function postFilter(newName, dateLow, dateUp){

var t0 = performance.now();
console.log("Post to Ajax started at " + t0);

return $.post("http://localhost:5000/filter",
  {
    newName: newName,
	dateLow: dateLow,
	dateUp: dateUp,
	granulation: "Month"
  },
  function(data){
	var t1 = performance.now();
	console.log("Post to Ajax took " + ((t1 - t0)/(1000)) + " seconds.");
	try {
		matrixM(JSON.parse(data[0]));
		wordCloud(JSON.parse(data[1]));
	}
	catch (e) {
        alert("javascript parsing error: " + data)
    }
	
  });			
}

function postReviewSamples(newName, rating, dateLow, dateUp, searchWord){

var t0 = performance.now();
console.log("Post to Ajax started at " + t0);

return $.post("http://localhost:5000/plainReviews",
  {
    newName: newName,
	rating: rating,
	dateLow: dateLow,
	dateUp: dateUp,
	searchWord: searchWord
  },
  function(data){
	
	try
	{	
		if (data == "No data for those filters."){
			document.getElementById('reviews').innerHTML = data;
		}
		if (data == "Search word not found. The search is case sensitive!"){
			document.getElementById('reviews').innerHTML = data;
		}
		else {
			document.getElementById('reviews').innerHTML = ""
			for (i = 0; i < data.length; i = i + 3) {			
				document.getElementById('reviews').innerHTML += "<br>" + data[i] + " star review from " + data[i+1] + " reads: " + "<br>" + data[i+2] + "<br>"
			}	
		}
	}
	catch (e) {
		alert("javascript parsing error: " + data)
	}
	finally {		
		var t1 = performance.now();		
		console.log("Post to Ajax finalised at " + (t1 - t0));
		document.body.style.cursor="default";
		document.getElementById("selectRS").style.cursor="default";
		document.getElementById("selectCloud").style.cursor="default";
		document.getElementById("showReviewsB").style.cursor="default";
	}
	
  });			
}

function reviewSamples(){
	
	document.body.style.cursor="progress";
	document.getElementById("selectRS").style.cursor="progress";
	document.getElementById("selectCloud").style.cursor="progress";
	document.getElementById("showReviewsB").style.cursor="progress";
	
	var rating = document.getElementById("selectRS").value;
	var no = document.getElementById("selectCloud");
    var option = no.options[no.selectedIndex].text;
	var searchWord = document.getElementById("searchInput").value;
	
	if (option == "Overall"){
		postReviewSamples(newName, rating, yearLow, yearUp, searchWord)		
	}
	
	else if (option != "Overall"){
		var parseDate = d3.timeParse("%Y-%m");
		
		var date = new Date(parseDate(option)), y = date.getFullYear(), m = date.getMonth();
		var firstDay = new Date(y, m, 1);
		var lastDay = new Date(y, m+1, 0);
			
		firstDay = firstDay.getFullYear() + "-" + parseInt(firstDay.getMonth()+1) + "-" + firstDay.getDate();
		lastDay = lastDay.getFullYear() + "-" + parseInt(lastDay.getMonth()+1) + "-" + lastDay.getDate();
		
		postReviewSamples(newName, rating, firstDay, lastDay, searchWord)
	}
	
}

function clickcancel() {
  // we want to a distinguish single/double click
  var dispatcher = d3.dispatch('click', 'dblclick');
  function cc(selection) {
      var down, tolerance = 5, last, wait = null, args;
      // euclidean distance
      function dist(a, b) {
          return Math.sqrt(Math.pow(a[0] - b[0], 2), Math.pow(a[1] - b[1], 2));
      }
      selection.on('mousedown', function() {
          down = d3.mouse(document.body);
          last = +new Date();
          args = arguments;
		  args[1] = down;
		  args[2] = d3.select(this);		  
      });
      selection.on('mouseup', function() {
          if (dist(down, d3.mouse(document.body)) > tolerance) {
              return;
          } else {
              if (wait) {
                  window.clearTimeout(wait);
                  wait = null;
                  dispatcher.apply("dblclick", this, args);
              } else {
                  wait = window.setTimeout((function() {
                      return function() { 
                          dispatcher.apply("click", this, args);
                          wait = null;
                      };
                  })(), 300);
              }
          }
      });
  };
  // Copies a variable number of methods from source to target.
  var d3rebind = function(target, source) {
    var i = 1, n = arguments.length, method;
    while (++i < n) target[method = arguments[i]] = d3_rebind(target, source, source[method]);
    return target;
  };

  // Method is assumed to be a standard D3 getter-setter:
  // If passed with no arguments, gets the value.
  // If passed with arguments, sets the value and returns the target.
  function d3_rebind(target, source, method) {
    return function() {
      var value = method.apply(source, arguments);
      return value === source ? target : value;
    };
  }
  return d3rebind(cc, dispatcher, 'on');
}

</script>
